
@import url(tokens.css);
@import url(semantic.css);
/* @import url(base.css); */
@import "tailwindcss";



@theme {

    --color-brando: var(--color-brand);
    --color-brand-hover: var(--color-brand-hover);
    --color-brand-softt: var(--color-brand-soft);
    --color-background:var(--color-background);
    --color-surface: var(--color-surface);
    --color-surface-muted: var(--color-surface-muted);
    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);
    --color-text-muted: var(--color-text-muted);
    --color-text-inverse: var(--color-text-inverse);
    --color-border: var(--color-border); 
    --color-border-strong: var(--color-border-strong:);
    --color-warning: var( --color-warning);

       --color-label: var(--semantic-text-label);

    --font-body: var(--font-body);
    --font-text-secondary: var(--font-text-secondary);


    --font-label-weight: var(--font-weight-medium); 
    --font-weight-label: var(--font-label-weight);
    --font-weight-heading: var(--font-heading-weight);


   /*Typography*/
    --text-small: var(--fs-size-small);
    --text-med: var (--fs-xxxs-med);
    --text-mostsmall: var(--fs-size-mostsmall);


    /*Font weight*/ 
    

}